# Environments
venv/
.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Database
bridge.db

# PyInstaller / Build artifacts
build/
dist/
*.exe

# IDE / Editor
.vscode/
.idea/
.ruby-lsp/

# Project Specific
scratch/
sample/
instance/
logs/

# Node / JS
node_modules/
sample2